/* colors */

/* #3F3244 - aqua 
#F2F2F2 - 
#D1D2D3
#666666
#000000
#2F2235
#34D1D1 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header-container {
  background-color: #2F2235;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.divider-header {
  display:flex;
  flex-direction:row;
  align-items: center;
  margin: 50px 0 50px 0;
}

.divider-text {
  flex-grow:0;
  font-size: 1.2rem;
  margin-right: 30px;
  letter-spacing: 0.8px;
}

.divider-line {
    flex-grow:1;
    height: 1px;
    background-color: #666666;
}

.main-wrapper {
  width: 80%;
  margin: auto;
}

.aqua {
  color: #34D1D1;
}

.white {
  color: #F2F2F2;
}

.grey {
  color: #666666;
}

.light {
  font-weight: 300;
}

.semi-bold {
  font-weight: 600;
}

.inline-block {
  display: inline-block;
}

/* For Tabs */

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 40px 40px;
  border: 1px solid #d1d2d3;
}

input {
  display: none;
}

label {
  display: inline-block;
  width: 24.65%;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 300;
  text-align: center;
  color: #666666;
  background-color: #F2F2F2;
  border: 1px solid transparent;
}

label:before {
  font-weight: 300;
  margin-right: 10px;
  display: none;
}

label:hover {
  color: #666666;
  cursor: pointer;
}

input:checked+label {
  color: #666666;
  background-color: #FFF;
  font-weight: 600;
  border: 1px solid #d1d2d3;
  border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
  display: block;
}

.image-tab {
  display: inline-block;
  background-image: url('../assets/fpo.jpg');
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 400px;

}

.article-content {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding: 20px;
}
